Flask==3.0.3
Werkzeug==3.0.4
Flask-SocketIO==5.5.1
python-socketio==5.12.0
python-engineio==4.11.0
eventlet==0.36.1
gevent==25.9.1
Flask-CORS==5.0.0
plotly==5.24.1
pandas==2.2.3
python-dotenv==1.0.1
Flask-SQLAlchemy==3.1.1
gunicorn==22.0.0
